<!DOCTYPE html>
{% load static analytical %}

<html>

<head>

    <!--Import Google Icon + Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pirata+One&family=VT323&family=Roboto:wght@600&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'app/css/devicons.css' %}">


    <link type="text/css" rel="stylesheet" href="{% static 'app/css/materialize.css' %}"  >

    <link type="text/css" rel="stylesheet" href="{% static 'app/css/style.css' %}" >



    <script src="{% static 'app/js/scrollreveal.js' %}"></script>



    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

       <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="{% static 'app/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'app/favi/apple-icon-60x60.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'app/favi/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'app/favi/favicon-32x32.png' %}">
    <!--<link rel="manifest" href="{% static 'app/favi/manifest.json' %}">-->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'app/favi/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- analytic -->
     {% analytical_head_top %}

    {% analytical_head_bottom %}
    <title>{% block title %}Nim4 {% endblock %}</title>

</head>

<body class="black">

<!-- PreLoader-->
{% include 'app/include/_preloader.html' %}

<!-- Navbar -->
{% include 'app/include/_nav.html' %}

<!-- Main Content -->

{% block content %}
{% endblock content %}

{% include 'app/include/_floatbtn.html' %}

<!-- Footer -->
{% block footer %}
{% include 'app/include/_footer.html' %}
{% endblock footer %}

    <!--JavaScript at end of body for optimized loading-->

    <script type="text/javascript" src="{% static 'app/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/materialize.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/init.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/scroll.js' %}"></script>

    {% analytical_body_top %}

    {% analytical_body_bottom %}
</body>

</html>

