<!DOCTYPE html>
{% load static analytical %}
<html lang="en" class="no-js">
	<head>
        <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Pirata+One&family=VT323&family=Roboto:wght@600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{% static 'app/css/devicons.css' %}">
         <link type="text/css" rel="stylesheet" href="{% static 'app/css/basev2.css' %}"  >
        <link type="text/css" rel="stylesheet" href="{% static 'app/css/materialize.css' %}"  >
        <link rel="icon" type="image/png" href="{% static 'app/favicon.ico' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'app/favi/apple-icon-60x60.png' %}">
        <link rel="icon" type="image/png" sizes="192x192" href="{% static 'app/favi/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'app/favi/favicon-32x32.png' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static 'app/favi/ms-icon-144x144.png' %}">
        <meta name="theme-color" content="#ffffff">
        <!-- analytic -->
         {% analytical_head_top %}
        {% analytical_head_bottom %}
        <meta name="description" content="Welcome To my Hood !" />
		<meta name="keywords" content="computer,software,engineer" />
		<meta name="author" content="Nim4 k" />

		<title>Nim4</title>
		<script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
	</head>
	<body class="demo-4 black">


      <nav class="transparent">
        <div class="nav-wrapper transparent">
             <a href="{% url 'home' %}" class="brand-logo"><img src="{% static 'app/img/nk.gif' %}" alt="NiM4"
                                id="logo" style="padding-top:5px ;padding-left: 10px;max-height: 35px;"></a>
        </div>
    </nav>

		<main>
			<div class="content">
				<canvas class="scene scene--full" id="scene"></canvas>
				<div class="card transparent">
					<div class="card-content ">

						<div class=" hide-on-small-and-down center">
							<h1 class="white-text" id='fontgang'> Technology Geek 🍀</h1>
						</div>
						 <div class=" hide-on-med-and-up center">
						    <h3 class="white-text center" id='fontgang'> Technology Geek 🍀</h3>
           				 </div>


						<div class='col s12 center'>



                                    {% if not user.is_staff %}

                                    <a class="btn  grey darken-4 white-text waves-effect waves-light hoverable" id="btnhome" href="{% url 'bookmarks' %}" >
                                                     > Bookmarks</a>
                                    <a class="btn  grey darken-4 white-text waves-effect waves-light hoverable btnhome" href="{% url 'playlists' %}" >
                                                     > Playlists</a>
                                    <a class="btn grey darken-4 white-text waves-effect waves-light  hoverable" href="{% url 'library:library' %}" >
                                    > Library</a>

                                    {% else %}
                                    <a class="btn grey darken-4 white-text waves-effect waves-light" href="{% url 'library:library' %}" >
                                             > Library</a>
                                    <a class="btn grey darken-4 white-text waves-effect waves-light" href="{% url 'bookmarks' %}" >
                                             > Bookmarks</a>
                                    <a class="btn grey darken-4 white-text waves-effect waves-light" href="{% url 'playlists' %}" >
                                             > Playlists</a>
                                    {% endif %}

						</div>

                        



					</div>
				</div>
			</div>
		</main>


      <!-- [Floating BTN] -->
    <div class="fixed-action-btn" >
        <a class="btn-floating btn-large black" href="{% url 'hello' %}">
            <i class="large material-icons blue-text">question_answer</i>
        </a>
        {% if not user.is_staff %}
        <a class="btn-floating btn-large black" href="{% url 'login' %}">
            <i class="large material-icons blue-text">input</i>
        </a>
        {% else %}
        <a class="btn-floating btn-large black" href="{% url 'logout' %}">
            <i class="large material-icons blue-text">power_settings_new</i>
        </a>
        {% endif %}

    </div>



    <footer class="page-footer transparent">
        <div class="footer-copyright transparent">
            <div class="container hide-on-small-and-down center">
                <h4><i class="devicons devicons-python"></i>
                <i class="devicons devicons-django"></i></h4>
                <h6 class="">© Nima K. 2008 - {% now 'Y' %} </h6>


            </div>

             <div class="container hide-on-med-and-up center">   <h6 class="">© Nima K. 2008 - {% now 'Y' %} </h6>
            </div>
        </div>
    </footer>

        <script type="text/javascript" src="{% static 'app/js/initv2.js' %}"></script>
        <script type="text/javascript" src="{% static 'app/js/three.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'app/js/TweenMax.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'app/js/perlin.js' %}"></script>
        <script type="text/javascript" src="{% static 'app/js/indexv2.js' %}"></script>
	</body>
</html>
