{% extends 'app/base.html' %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block content %}
<main class="valign-wrapper">
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l6 offset-m3 offset-l3 card black hoverable">
        <div class="card-content ">
          <span class="card-title white-text" id="fontgang">Login </span>
          <br>

          <form method="post" class="white-text">
            {% csrf_token %}
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix white-text">account_circle</i>
                {{ form.username|add_class:"white-text"}}
                <label for="id_username">Username</label>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">vpn_key</i>
                {{ form.password|add_class:"white-text"}}
                <label for="id_password">Password</label>
              </div>
            </div>
            

            <!-- {{ form.username|add_class:"white-text"}}
            {{ form.password|add_class:"white-text"}} -->
            <div class="center"> 
              {{ form.submit }}
              <!-- {{ form.as_p }} -->
              <button class='btn btn-small waves-effect waves-light'type="submit" id="fontgang">> LOGIN</button>
            </div>

            
            
          </form>

        </div>
        
      </div>
    </div>
  </div>
   
</main>
  <div class='row '> 
    <div class='col s12 center'> 
{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote center white-text red">
  {{ error |truncatechars:60}}
</p>
{% endfor %}
{% endif %}
</div>
</div>

{% endblock %}